*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../assets/images/banner-bk.jpg);
    background-repeat: no-repeat;
    height: 720px;
    background-position: 0% 0% 800%;
    background-size: cover;
}
.parte-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}